body {
    background-image: url("/images/Brown-eggs.webp");
    font-family: "Roboto Mono", monospace;
    margin: 0;
    padding: 0;
    width: 100%;

    
   
}

.container {
    background-color: skyblue;
    width: 80%;
    margin:  100px auto;
    height: 80vh;
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

#incrementBtn{
    background: url("/images/btn-increment-img.jpg") no-repeat;
    background-size: cover;
    margin-right: 20px;

}

#saveBtn {
    background: url("/images/btn-save-img.webp") no-repeat;
    background-size: cover;
    margin-left: 20px;
 
}

.btn-inc, .btn-save {

    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
}


h2 {
    color: green;
    font-size: 30px;
    margin: 20px 0 70px 0;
}

h1 {
    color: blue;
    font-size: 50px;
    margin-bottom: 30px;
}

#save {
    color: green;
    font-size: 20px;
    margin-top: 50px;
}
